/* 项目通用CSS */
html { min-width: 1200px; }
@media screen and (max-width:1200px){html{font-size:12px}}
@media screen and (min-width:1201px) and (max-width:1920px){html{font-size:12px}}
@media screen and (min-width:1921px) and (max-width:2200px){html{font-size:13px}}
@media screen and (min-width:2201px) and (max-width:2500px){html{font-size:14px}}
@media screen and (min-width:2501px) and (max-width:2700px){html{font-size:15px}}
@media screen and (min-width:2701px) and (max-width:2900px){html{font-size:16px}}
@media screen and (min-width:2901px) and (max-width:3100px){html{font-size:17px}}
@media screen and (min-width:3101px) and (max-width:3300px){html{font-size:18px}}
@media screen and (min-width:3301px) and (max-width:3500px){html{font-size:19px}}
@media screen and (min-width:3501px) and (max-width:3700px){html{font-size:20px}}
@media screen and (min-width:3701px) and (max-width:3900px){html{font-size:21px}}
@media screen and (min-width:3901px) and (max-width:4100px){html{font-size:22px}}
@media screen and (min-width:4101px) and (max-width:4300px){html{font-size:23px}}
@media screen and (min-width:4301px) and (max-width:4600px){html{font-size:24px}}
@media screen and (min-width:4601px) {html{font-size:24px}}

@font-face {
  font-family: PingFang-Medium;
  src: url('../font/PingFang-Medium.ttf');
}

.vis-main {
  position: relative;
  width: 100%;  height: 100%; min-width: 1200px; max-width: 4600px;
  margin: 0 auto;
  overflow: hidden;
}
.vis-bg-cover {background-color: rgba(1, 3, 28, .8);}
.vis-map {
  width: 1900px; height: 900px;
  margin: 0 auto;
}
.vis-menu {
  position: absolute; top: 12%; left: 50%; z-index: 100;
  width: 28%;
  margin-left: -14%;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn .4s ease-out 1.5s both;
  text-align: center;
}
.vis-menu > li {
  display: inline-block;
  color: #fff; font-family: PingFang-Medium;
  width: 25%;
  text-align: center;
  border: 1px solid #052d50;
  border-radius: .2rem;
  padding: .6rem 0;
  cursor: pointer;
  transition: all .4s ease-out;
  text-shadow:0 0 0.2em #8ecdf0, -0 -0 0.2rem #8ecdf0;
}
.vis-menu > li:first-child {
  border-top: 1px solid #052d50;
}
.vis-menu-li-sed {
  border-color: #0c83ad !important;
  background: url(../img/icons/vis-b11.png) left center repeat-x;
  -webkit-background-size: auto 100%; background-size: auto 100%;
}

.vis-info-tip {
  position: absolute; top: 20%; right: 30%; z-index: 100;
  overflow: hidden;
  animation: fadeIn .4s ease-out 1.5s both;
  color: #4b5462;
  background-color: #01132e;
  height: 3rem; line-height: 3rem;
  padding: 0 1rem;
}
.vis-info-tip > li {
  animation: fadeIn .4s ease-out both;
}
.vis-info-tip span {
  color: #fff;
}
.vis-info-tip span.vis-info-tip-nb {
  font-size: 1.5rem;
}

.vis-cou {
  position: absolute; z-index: 10000;
  width: 26%; height: 26%;
  border: 1px solid #003a6c;
  opacity: 0;
  border-radius: .4rem;
  padding: 1rem;
}
.vis-cou1 {
  top: 13%; left: 1%;
}
.vis-cou2 {
  top: 42%; left: 1%;
}
.vis-cou3 {
  top: 71%; left: 1%;
}
.vis-cou4 {
  top: 13%; right: 1%;
}
.vis-cou5 {
  top: 42%; right: 1%;
}
.vis-cou6 {
  top: 71%; right: 1%;
}

.vis-cut4 .vis-cou {
  width: 23.75%;
}
.vis-cou7 {
  top: 71%; right: 25.75%;
}
.vis-cou8 {
  top: 71%; left: 25.75%;
}

.vis-show .vis-cou {
  opacity: 1;
}
.vis-show .vis-cou1, .vis-show .vis-cou2, .vis-show .vis-cou3 {
  opacity: 1;
  animation: fadeInLeft .6s ease-out .5s both;
}
.vis-show .vis-cou4, .vis-show .vis-cou5, .vis-show .vis-cou6 {
  opacity: 1;
  animation: fadeInRight .6s ease-out .5s both;
}

.vis-cou-title {
  position: relative;
  height: 15%;
  margin-top: -1rem;
  background: url(../img/icons/vis-011.png) center center no-repeat;
  -webkit-background-size: auto 100%; background-size: auto 100%;
}
.vis-cou-title > h2 {
  position: absolute; top: 50%; left: 50%;
  text-align: center;
  font-size: 1.2rem; color: #fff; font-family: PingFang-Medium;
  text-shadow:0 0 0.1em #8ecdf0, -0 -0 0.1rem #8ecdf0;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.vis-cou-title > h2 > a {
  font-size: 1.2rem; color: #fff; font-family: PingFang-Medium;
  text-shadow:0 0 0.1em #8ecdf0, -0 -0 0.1rem #8ecdf0;
}
.vis-cou-title > h2 > a:hover {
  text-decoration: none;
}
.vis-cou-content {
  height: 85%;
  margin-top: 1rem;
  position: relative;
}
.vis-cou-ctt-t {
  height: 3rem; width: 100%;
  position: absolute; top: 0; left: 0;
}
.vis-cou-ctt-c {
  height: 100%; padding-top: 3rem;
  width: 100%;
}
.vis-cou-ctt-cc { width: 100%; height: 100%; }

.vis-cou-content-c {
  position: relative;
  padding-top: 3rem; height: 100%;
}
.vis-cou-content-ct {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 3rem;
  line-height: 3rem;
  vertical-align: baseline;
  color: #999;
  overflow: hidden;
}
.vis-cou-content-ct > span {
  display: inline-block;
  padding: 0 .5rem;
  color: #fff;
  font-size: 2rem;
}
.vis-cou-content-cc {
  height: 100%;
}

.vis-cou-j1 {
  top: -1px; right: -1px;
  background: url(../img/icons/vis-j01.png);
}
.vis-cou-j2 {
  bottom: -1px; right: -1px;
  background: url(../img/icons/vis-j02.png);
}
.vis-cou-j3 {
  top: -1px; left: -1px;
  background: url(../img/icons/vis-j04.png);
}
.vis-cou-j4 {
  bottom: -1px; left: -1px;
  background: url(../img/icons/vis-j03.png);
}
.vis-cou-j {
  position: absolute;
  width: 1rem; height: 1rem;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* 警告 */
.vis-wn-icon {
  display: inline-block;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 100;
  width: 3rem; height: 3rem;
}
.vis-wn-01 { background-image: url(../img/icons/vis-warn-01.png); }
.vis-wn-02 { background-image: url(../img/icons/vis-warn-02.png); }
.vis-wn-03 { background-image: url(../img/icons/vis-warn-03.png); }
.vis-wn-04 { background-image: url(../img/icons/vis-warn-04.png); }
.vis-wn-05 {
  background-image: url(../img/icons/vis-warn-05.png);
  animation: twinkling 1s infinite 0.9s ease-in-out;
}
@-webkit-keyframes twinkling {
  0%  { opacity: 0.1; }
  100%{ opacity: 1;  }
}
@keyframes twinkling {
  0%  { opacity: 0.1; }
  100%{ opacity: 1;  }
}

.vis-bsns-main {
  position: relative;
  width: 1.2rem; height: 1.2rem;
  border-radius: 50%;
  background-color: #0253a1;
  transition: all .4s ease-out;
}
.vis-bsns-circle {
  display: inline-block;
  position: absolute; top: 50%; left: 50%;
  margin-left: -0.25rem; margin-top: -0.25rem;
  width: .5rem; height: .5rem;
  border-radius: 50%;
  background-color: #00ffff;
}
.vis-bsns-main:hover {
  transform: scale3d(2, 2, 2);
  background-color: #4b586a;
}
.vis-bsns-main:hover .vis-bsns-circle {
  background-color: #f3d125;
  box-shadow: 0 0 .5rem #f3d125;
}
.vis-bsns-info {
  width: 200px;
  padding: 1rem;
  background: #1d2c93;
  background: rgba(29, 44, 147, .9);
  background: -webkit-linear-gradient(to bottom, rgba(18, 30, 118, .85), rgba(63, 56, 153, .85));
  background: -moz-linear-gradient(to bottom, rgba(18, 30, 118, .85), rgba(63, 56, 153, .85));
  background: linear-gradient(to bottom, rgba(18, 30, 118, .85), rgba(63, 56, 153, .85));
  color: #fff;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  border-radius: 4px;
}
.vis-bsns-info > h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  height: 2rem; line-height: 2rem;
}
.vis-bsns-info > ul {
  padding-bottom: .2rem;
}
.vis-bsns-info > ul > li {
  padding: 0 0 .5rem .8rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.vis-bsns-info > ul > li > span {
  color: #ccc326;
  display: inline-block;
  padding-right: .1rem;
}

.vis-poors-main {
  border: 2px solid #eef10a;
  box-shadow: 0 0 10px #eef10a, 0 0 10px #eef10a inset;
  width: 1.6rem; height: 1.6rem;
  border-radius: 50%;
}

.vis-btn1 {
  display: inline-block;
  width: 8rem;
  height: 3.25rem; line-height: 3.25rem;
  background: url(../img/icons/vis-btn-01.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
}

/* map marke style */
.mm-vill-content {
  overflow: hidden;
  line-height: 2rem;
  position: relative;
  word-break:keep-all; white-space:nowrap;
  font-size: .8rem;
}
.mm-vill-cont-l {
  display: inline-block;
  width: 10px; height: 10px;
  border-radius: 50%;
  background-color: #f6f6f6;
  position: absolute; top: 50%; left: 0;
  margin-top: -6px;
}
.mm-vill-cont-r {
  color: #f6f6f6;
  display: inline-block;
  padding-left: 13px;
}

.g2-tooltip {
  border: 1px solid #002e5d;
  border-radius: 4px;
}

/* common css for templet */
.vis-temp-main { width: 100%; height: 100%; position: relative;}

.vis-jjfz-d {
  max-height: none !important;
  overflow: hidden;
  right: 0 !important;
  top: 50% !important;
  transform: translate3d(0, -50%, 0);
}
.vis-jjfz-d > ul {
  overflow: hidden;
}
.vis-jjfz-li {
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem !important;
}
.vis-jjfz-li > span {
  position: absolute;
  height: 100%; border-radius: 4px;
}
.vis-jjfz-li > div {
  display: block;
  word-break:keep-all; white-space:nowrap;
}
.vis-jjfz-ud {
  font-size: 1rem;
  padding-left: .5rem;
  display: inline-block;
}
.vis-jjfz-ud > i {
  font-weight: 600;
}
.vis-jjfz-up {
  color: #ec38be;
}
.vis-jjfz-down {
  color: #30b92d;
}
.test {
  border-radius: 4rem;
  max-height: none;
}

.vis-plate-up {
  color: #F5359D;
}
.vis-plate-up > i {
  display: inline-block;
  width: 0.9rem; height: 0.9rem;
  margin-right: .2rem;
  background: url(../img/plate/p-up.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative; top: 1px;
}
.vis-plate-down {
  color: #39C035;
}
.vis-plate-down > i {
  display: inline-block;
  width: 0.9rem; height: 0.9rem;
  margin-right: .2rem;
  background: url(../img/plate/p-down.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative; top: 1px;
}

/* style for g2 */
.g2-legend {
  max-height: none !important;
}

/* style for map marker */
.vis-map-mk {
  display: block;
  width: 3rem; height: 3rem;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  transition: all .4s;
}
/*医疗*/
.mmk-hospital { background-image: url(../img/map/mk-hospital.png); }
.mmk-hospital-sed { background-image: url(../img/map/mk-hospital2.png); }
.mmk-hospital:hover { background-image: url(../img/map/mk-hospital2.png); }
/*村*/
.mmk-village { background-image: url(../img/map/mk-village.png); }
.mmk-village-sed { background-image: url(../img/map/mk-village2.png); }
.mmk-village:hover { background-image: url(../img/map/mk-village2.png); }
/*公交车*/
.mmk-bus { background-image: url(../img/map/mk-bus.png); }
.mmk-bus-sed { background-image: url(../img/map/mk-bus2.png); }
.mmk-bus:hover { background-image: url(../img/map/mk-bus2.png); }
/*停车场*/
.mmk-parking { background-image: url(../img/map/mk-parking.png); }
.mmk-parking-sed { background-image: url(../img/map/mk-parking2.png); }
.mmk-parking:hover { background-image: url(../img/map/mk-parking2.png); }
/*空气监测*/
.mmk-air { background-image: url(../img/map/mk-air.png); }
.mmk-air-sed { background-image: url(../img/map/mk-air2.png); }
.mmk-air:hover { background-image: url(../img/map/mk-air2.png); }
/*水位监测*/
.mmk-water { background-image: url(../img/map/mk-water.png); }
.mmk-water-sed { background-image: url(../img/map/mk-water2.png); }
/*图书馆*/
.mmk-library { background-image: url(../img/map/mk-library.png); }
.mmk-library-sed { background-image: url(../img/map/mk-library2.png); }
.mmk-library:hover { background-image: url(../img/map/mk-library2.png); }
/*文化馆*/
.mmk-cultural { background-image: url(../img/map/mk-cultural.png); }
.mmk-cultural-sed { background-image: url(../img/map/mk-cultural2.png); }
.mmk-cultural:hover { background-image: url(../img/map/mk-cultural2.png); }
/*污染企业*/
.mmk-polluting { background-image: url(../img/map/mk-polluting.png); }
.mmk-polluting-sed { background-image: url(../img/map/mk-polluting2.png); }
.mmk-polluting:hover { background-image: url(../img/map/mk-polluting2.png); }
/*教育*/
.mmk-education { background-image: url(../img/map/mk-education.png); }
.mmk-education-sed { background-image: url(../img/map/mk-education2.png); }
.mmk-education:hover { background-image: url(../img/map/mk-education2.png); }
/*剧院*/
.mmk-theatre { background-image: url(../img/map/mk-theatre.png); }
.mmk-theatre-sed { background-image: url(../img/map/mk-theatre2.png); }
.mmk-theatre:hover { background-image: url(../img/map/mk-theatre2.png); }
/*艺术馆*/
.mmk-art { background-image: url(../img/map/mk-art.png); }
.mmk-art-sed { background-image: url(../img/map/mk-art2.png); }
.mmk-art:hover { background-image: url(../img/map/mk-art2.png); }
/*养老机构*/
.mmk-nursing { background-image: url(../img/map/mk-nursing.png); }
.mmk-nursing-sed { background-image: url(../img/map/mk-nursing2.png); }
.mmk-nursing:hover { background-image: url(../img/map/mk-nursing2.png); }

