/* 全局的字体图标 */

@font-face {
  font-family: "iconfont";
  src: url('./../font/iconfont.eot');
  /* IE9*/
  src: url('./../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('./../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}



/* login commnon css */
.xs-lg-form {
  padding: 20px 40px;
}
.xs-lg-form .el-form-item {
  margin-bottom: 35px;
}
.xs-lg-form .el-form-item__error { padding-top: 10px; padding-left: 10px; }
.xs-lg-form .el-input__inner {
  /*border: 0; border-bottom: 1px solid #e3e3e3;*/
  border-radius: 4px;
  position: relative;
  height: 48px; line-height: 48px;
}
.xs-lg-form .el-input--prefix .el-input__inner { padding-left: 60px; }
.xs-lg-form .xs-lg-form-date .el-input__prefix {
  left: 18px; top: -2px;
  font-size: 20px;
}
.xs-lg-form .xs-lg-btn {
  height: 48px; line-height: 48px;
  padding: 0;
}

.oa-login-ibg { position: absolute; left: 15px; top: 16px; height: 18px; width: 17px; }
.oa-login-ibg1 { background: url(../img/login/lg-un.png) center center no-repeat; }
.oa-login-ibg2 { background: url(../img/login/lg-pwd.png) center center no-repeat; }

/* reset element ui style */
.el-table thead th {
  background-color: #F6F9FC;
  color: #333; font-weight: 600;
}

.plate-table {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-bottom: 0;
}
.plate-table > thead th {
  border-bottom: 1px solid #DDDDDD;
  padding: 15px 10px;
  background-color: #F7F7F7;
  color: #333; font-weight: 600;
}
.plate-table > tbody td {
  border-bottom: 1px solid #DDDDDD;
  padding: 12px 10px;
}
.plate-table > tbody td input {
  border: 0;
  color: #000;
  width: 150px;
  min-width: 100px; max-width: 200px;
}
.plate-table-td-dis {
  background-color: #F7F7F7;
}
input::-webkit-input-placeholder{
  color: #ccc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #ccc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: #ccc;
}

.bg-form-dialog .el-dialog__body {
  padding-bottom: 0;
  padding-top: 10px;
}

.vis-bg-del-btn, .vis-bg-del-btn:hover{
  color: #FD7507;
}
.vis-bg-del-btn.is-disabled {
}

.map-p-dialog .el-dialog__body {
  padding: 0 10px 10px 10px;
}
.amap-sug-result { z-index: 3001; }
.map-p-marker {
  font-size: 30px;
  color: #999;
}
.map-p-marker-old {
}
.map-p-marker-new {
  color: #409EFF;
}
/* 全局的字体图标 */

@font-face {
  font-family: "iconfont";
  src: url('./../font/iconfont.eot');
  /* IE9*/
  src: url('./../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('./../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #0785FD;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #0785FD;
}
.el-upload-list__item.is-success .el-upload-list__item-status-label {
  display: none;
}

.draw-dialog .el-dialog__body {
  padding-bottom: 0;
  padding-top: 20px;
}
.el-table .cell {
  line-height: 26px;
}
.el-tooltip__popper {
  padding-left: 30px;
}

.e_stat_dp .el-range-separator {
  width: 30px;
  text-align: center;
}
.e_stat_content .el-loading-spinner {
  top: 150px;
}

.e_stat_tb_ld1 {
  width: 200px;
  left: auto !important;
  right: 30px !important;
  top: 50% !important;
  overflow: hidden !important;

}
.e_stat_tb_ld1 .g2-legend-list {
  overflow: hidden;
  width: 200px;
}
.e_stat_tb_ld1 .g2-legend-list-item {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 50%; float: left;
  padding: 5px;
}
.e_stat_tb_ld1 .g2-legend-list-item > div {
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  background-color: #fff;
  padding: 5px 10px;
}
.e_stat_tb_ld1 .g2-legend-list-item > div > div {
  font-weight: bold;
  font-size: 14px;
  color: #666;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}
.e_stat_tb_ld1 .g2-legend-list-item > div > div > i {
  display: inline-block;
  position: absolute; top: 6px; left: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(0, 162, 255, 0.4);
}
.e_stat_tb_ld1 .g2-legend-list-item > div > div > i > i {
  display: inline-block;
  position: absolute; top: 4px; left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 162, 255, 1);
}
.e_stat_tb_ld1 .g2-legend-list-item > div > p {
  color: #999;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.e_stat_tb_ld4 {
  left: auto !important;
  right: 30px !important;
  width: 150px !important;
  top: 50% !important;
}

.e_stat_tb_ld4 .g2-legend-list-item {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding: 5px;
  border-bottom: 1px solid #F2F2F2;
}
.e_stat_tb_ld4 .g2-legend-list-item:last-child {
  border-bottom: 0;
}
.e_stat_tb_ld4 .g2-legend-list-item > div {
  position: relative;
  height: 50px;
  padding-left: 10px;
}
.e_stat_tb_ld4 .g2-legend-list-item > div > span {
  position: absolute; top: 10px; left: 0;
  width: 4px; height: 30px;
  border-radius: 2px;
}
.e_stat_tb_ld4 .g2-legend-list-item > div > i {
  position: absolute; top: 17px; right: 5px;
  width: 34px; height: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url(../img/stat/stat-052.png);
}
.e_stat_tb_ld4 .g2-legend-list-item:nth-child(1) > div > i {
  background-image: url(../img/stat/stat-051.png);
}
.e_stat_tb_ld4 .g2-legend-list-item:nth-child(2) > div > i {
  background-image: url(../img/stat/stat-052.png);
}
.e_stat_tb_ld4 .g2-legend-list-item:nth-child(3) > div > i {
  background-image: url(../img/stat/stat-053.png);
}
.e_stat_tb_ld4 .g2-legend-list-item > div > div > div {
  color: #999;
  height: 16px; line-height: 16px;
}
.e_stat_tb_ld4 .g2-legend-list-item > div > div > p {
  color: #666;
  font-size: 15px;
  font-weight: 600;
  padding-top: 7px;
  height: 27px; line-height: 20px;
}
