<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  hr {
    height: 0.5rem;
    background: currentColor;
    border-color: red;
  }
  input, button {
    font-size: inherit;
  }
  p {
    color: red;
  }
  a {
    color: inherit;
  }
  .border {
    border: 10px solid hsla(0, 0%, 100%, 0.5);
    background: white;
    background-clip: padding-box;
    width: 100px;
    height: 100px;
  }
</style>
<body>
  <hr />
  <!-- <div>
    <p>哈哈哈</p>
  </div> -->
  <div>
    <p>哈哈哈</p>
    <!-- <input type="text" /> -->
    <!-- <button>提交</button> -->
    <a href="">sadadasdsadsad</a>
  </div>
  <div class="border">
    can I 啊可是大阿三打撒看萨达萨达萨达？
  </div>
</body>
</html>