<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享页面</title>
    <style>
      body, html {
        margin: 0 auto;
        padding: 0;
        width: 100%;
      }
      .share {
        width: 100%;
      }
      .share-title {
        width: 100%;
        height: 50px;
        text-align: center;
        background: red;
        color: #fff;
        line-height: 50px;
      }
      .share-content {
        width: 100%;
      }
    </style>
</head>
<body>
  <div class="share">
    <div class="share-title">
      互助详情
    </div>
    <div class="share-content">
      <div>
        <img src="" alt="">
      </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</body>
</html>