<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./share.css">
    <title>分享页面</title>
</head>
<body>
  <div class="share">
    <div class="share-title">
      互助详情
    </div>
    <div class="share-content">
      <div class="img-info">
        <img src="../../../../assets/img/share/logo.png" alt="">
        <div class="person-info">
          <span class="phone">138****0000</span>
          <span class="name">城管员</span>
        </div>
        <!-- <div class="part-in">
          <img src="../../../../assets/img/share/partin@2x.png" alt="">
          <span>已参与</span>
        </div> -->
      </div>
      <div class="content-info">
        <div class="content-detail">阿萨大爱上邓丽君看健身卡看拉升阶段老咔叽斯卡拉大家就撒了的空间昆仑山大家按时就看到了觉得看了看吉萨大了静安寺大家空间的开始了啊是多久啊深刻的拉萨到了接口加</div>
        <div class="img-list">
          <img src="../../../../assets/img/share/1.png" alt="">
          <img src="../../../../assets/img/share/2.png" alt="">
          <img src="../../../../assets/img/share/3.png" alt="">
          <img src="../../../../assets/img/share/4.png" alt="">
          <img src="../../../../assets/img/share/5.png" alt="">
          <img src="../../../../assets/img/share/6.png" alt="">
        </div>
      </div>
      <div class="position">
        <div class="address">
          <img src="../../../../assets/img/share/position.png" alt="">
          <div class="address-detail">事发位置&nbsp;|&nbsp;长沙创谷工业园按时打卡是挨了多少看就阿斯利康大家昂克赛拉的骄傲斯卡拉大家 拉开圣诞节</div>
        </div>
        <div class="address-time">6小时前</div>
      </div>
      <!-- <div class="comment">
        <h4>所有评论&nbsp;<span>145</span></h4>
        <div class="divide-out"></div>
        <div class="comment-list">
          <ul class="comment-ul">
            <li>
              <div class="comment-title">
                <img src="../../../../assets/img/share/logo.png" alt="">
                <div class="person-info">
                  <span class="phone">138****0000</span>
                  <span class="name">城管员</span>
                </div>
                <div class="comment-time">2018-04-24 18:14</div>
              </div>
              <div class="comment-body">
                我经常看到在五一路路边的乞讨小孩比较多，可以去看看。说不定会有新发现……
              </div>
              <div class="divide"></div>
            </li>
            <li>
              <div class="comment-title">
                <img src="../../../../assets/img/share/1.png" alt="">
                <div class="person-info">
                  <span class="phone">138****0000</span>
                  <span class="name">城管员</span>
                </div>
                <div class="comment-time">2018-04-24 18:14</div>
              </div>
              <div class="comment-body">
                我经常看到在五一路路边的乞讨小孩比较多，可以去看看。说不定会有新发现……
              </div>
              <div class="divide"></div>
            </li>
            <li>
              <div class="comment-title">
                <img src="../../../../assets/img/share/2.png" alt="">
                <div class="person-info">
                  <span class="phone">138****0000</span>
                  <span class="name">城管员</span>
                </div>
                <div class="comment-time">2018-04-24 18:14</div>
              </div>
              <div class="comment-body">
                我经常看到在五一路路边的乞讨小孩比较多，可以去看看。说不定会有新发现……
              </div>
              <div class="divide"></div>
            </li>
            <li>
              <div class="comment-title">
                <img src="../../../../assets/img/share/3.png" alt="">
                <div class="person-info">
                  <span class="phone">138****0000</span>
                  <span class="name">城管员</span>
                </div>
                <div class="comment-time">2018-04-24 18:14</div>
              </div>
              <div class="comment-body">
                我经常看到在五一路路边的乞讨小孩比较多，可以去看看。说不定会有新发现……
              </div>
              <div class="divide"></div>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</body>
</html>
<script>
  
</script>