body, html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: 'SourceHanSansCN-Normal';
}
ul li {
  list-style: none;
}
.share {
  width: 100%;
}
.share-title {
  width: 100%;
  height: 50px;
  text-align: center;
  background: #0785FD;
  color: #fff;
  line-height: 50px;
}
.share-content {
  width: 90%;
  padding: 0 5%;
}
.img-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.img-info img {
  width: 50px;
  height: 50px;
}
.person-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.phone {
  color: #222222;
  font-size: 1.2rem;
}
.name {
  color: #F86D10;
  font-size: 1rem;
}
.content-info {
  margin-top: 10px;
}
.content-detail {
  font-size: 1rem;
  color: #222222;
  line-height: 20px;
}
.img-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.img-list img {
  width: 30%;
  margin-right: 2%;
  margin-top: 1%;
  height: 100px;
}
.position {
  margin-top: 15px;
  display: flex;
  width: 100%;
  align-items: center;
}
.address {
  width: 80%;
  display: flex;
  align-items: center;
}
.address img {
  width: 40px;
  height: 40px;
}
.address-time {
  color: #999999;
  font-size: 0.9rem;
}
.address-detail {
  width: 70%;
  height: 40px;
  line-height: 40px;
  padding: 0 3%;
  background: #F7F7F7;
  font-size: 0.9rem;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.divide-out {
  height: 1px;
  background: #E3E3E3;
  width: 100%;
  margin-top: -10px;
}
.comment-list {
  width: 100%;
}
.comment-ul {
  padding: 0;
}
.comment-title {
  display: flex;
  align-items: center
}
.comment-title img {
  width: 50px;
  height: 50px;
}
.comment-body {
  margin-left: 68px;
}
.divide {
  height: 1px;
  background: #E3E3E3;
  margin: 20px 0 20px 68px;
}
.comment-ul li:last-child .divide {
  display: none;
}
.part-in {
  float: right;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius:6px;
  border: 1px solid #F86D10;
}
.part-in img {
  width: auto;
  height: auto;
}
.part-in span {
  color: #F86D10;
  font-size: 0.9rem;
}
@media screen and (max-width: 330px) {
  
}